body{
    padding: 25px;
    margin: 0;
    overflow-y: scroll;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px
}

#nav{
    background-color:greenyellow;
    opacity: 0.3;
}

#nav_wrapper{
    width: 960px;
    margin: 0 auto;
    text-align: left;
}

#nav ul{
    list-style-type: none; 
    padding: 0;
    margin: 0;
    position: relative;
}

#nav ul li{
    display: inline-block;
    padding: 20px
}

#nav ul li:hover{
    background-color:rgb(5, 255, 5);
    padding: 20px;
    border-radius:5px 50px 20px;
}

#nav ul li img{
    vertical-align: middle;
    padding-left: 5px;
    width: 15px;
    height: 15px;
}

#nav ul li a,visited{
    color:black;
    display: block;
    padding: 10px;
    text-decoration: none;
}

#nav ul li a:hover{
    color:black;
    display: block;
    padding: 10px;
    text-decoration: none;
}

#nav ul li:hover ul{
    display:block;
}

#nav ul ul{
    display: none;
    position: absolute;
    border: 6px solid greenyellow;
    padding-top: 33px;
    padding-bottom: 13px;
    border-top: 0px;
    font-size: 15px;
    border-left: 0px;
    border-right: 0px;
}

#nav ul ul li{
    display: block
}

#nav ul ul li a,visited{
    color: black;
}

#nav ul ul li a:hover{
    color: red;
    display: block;
    border-radius: 10px
}
